<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]

	# If ACCESSSING VIA IP
	RewriteCond %{HTTP_HOST} ^192.168.0.12
	# don't rewrite if the resource already exists
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# rewrite
	RewriteRule ^.*$ /ptwin_shop/index.php [L]

	# If ACCESSSING VIA LOCAL HOSTNAME
	RewriteCond %{HTTP_HOST} !^192.168.0.12
	# don't rewrite if the resource already exists
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# rewrite
	RewriteRule ^.*$ /index.php [L]
</IfModule>
