.container
{
	max-width: 750px;
}

.selected
{
	background-color: #afa;
}

input
{
	max-width: 100%;
	background-color: transparent;
	padding: 1px 5px;
}

header.page-header
{
	margin: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
	background-color: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15)
}

header.page-header h2.page-heading
{
	margin-top: 10px;
	font-size: 24px;
}

header .mobile-navigation-container,
header .home-link-container
{
	float: left;
	padding: 0px 15px;
	width: calc(1.5 / 12 * 100%);
}

.mobile-navigation-container,
.home-link-container
{
	margin: 10px 0px;
	font-size: 20px;
	line-height: 39px;
	cursor: pointer;
}

nav
{
	position: fixed;
	top: 0px;
	right: -75%;
	padding-top: 10px;
	width: 75%;
	transition: all ease 0.25s;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 10;
	height: 100vh;
	display: none;
}

nav.container
{
	max-width: calc(750px * 0.75);
}

nav.nav-open
{
	right: 0%;
	display: block;
}

nav .mobile-navigation-container
{
	margin: 0px;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

nav ul li a
{
	color: white;
	font-size: 16px;
	line-height: 36px;
}

nav ul li a:hover,
nav ul li a:focus
{
	color: white;
	font-weight: 700;
	text-decoration: none;
}

main
{
	padding-bottom: 20px;
}

.wrapper
{

}

.results-container
{
	float: left;
	width: 100%;
}

.results-container .result-item
{
	padding: 5px 4px;
}

@media print, screen
{
	.results-container.striped .result-item:nth-of-type(odd)
	{
		background-color: #eee;
	}
}

.results-container .result-item.primary-dept
{
	border: #337ab7 solid 2px;
	padding: 3px 2px;
}

.results-container .result-item.primary-dept button.js-set-primary-dept
{
	display: none;
}

.results-container .result-item .button-container button.js-add-item-to-current-order
{
	display: block;
}

.results-container .result-item .button-container button.js-remove-item-from-current-order
{
	display: none;
}

.results-container.striped .result-item.selected
{
	background-color: #afa;
}

.results-container .result-item.selected .button-container button.js-add-item-to-current-order
{
	display: none;
}

.results-container .result-item.selected .button-container button.js-remove-item-from-current-order
{
	display: block;
}

.results-container .result-item .button-container button.js-mute-suggestion,
.results-container .result-item .button-container button.js-unmute-suggestion
{
	display: block;
}

.results-container .result-item.muted-temp .button-container button.js-mute-suggestion[data-mute_basis='temp']
{
	display: none;
}

.results-container .result-item.unmuted-temp .button-container button.js-unmute-suggestion[data-mute_basis='temp']
{
	display: none;
}

.results-container .result-item.muted-perm .button-container button.js-mute-suggestion[data-mute_basis='perm']
{
	display: none;
}

.results-container .result-item.unmuted-perm .button-container button.js-unmute-suggestion[data-mute_basis='perm']
{
	display: none;
}

.results-container .result-item.checked
{
	display: none;
}

.results-container .result-item .button-container.check,
.results-container .result-item .button-container.uncheck
{
	display: block;
}

.results-container .result-item.checked .button-container.check
{
	display: none;
}

.results-container .result-item.unchecked .button-container.uncheck
{
	display: none;
}

.results-container .link-container
{
	word-break: break-all;
}

.results-container.item-order-history
{
	max-width: 350px;
	max-height: 260px;
	overflow-y: auto;
}

.results-container.item-order-history .results-body a
{
	display: flex;
	border: 1px solid #fff;
}

.results-container.item-order-history .results-body a:hover
{
	background-color: #eee;
	border: 1px solid #aaa;
}

.results-container.item-order-history .results-body p
{
	margin: 0px;
	line-height: 24px;
}

.department-items-container .row>div,
.list-items-container .row>div
{
	margin-bottom: 5px;
}

.item-container
{
	width: 100%;
	float: left;
	padding: 5px 0px;
}

.odd-row
{
	background: #ddd;
}

.text-blocks
{
	float: left;
	width: calc(65% - 15px);
	padding-right: 15px;
}

input.item-description,
input.item-comments,
input.update,
input.remove
{
	width: 100%;
	line-height: 15px;
	margin-bottom: 5px;
	background: transparent;
}

.qty-container
{
	float: left;
	width: calc(15% - 15px);
	padding-right: 15px;
}

.qty-container>input
{
	width: 100%;
	text-align: center;
	line-height: 40px;
	background: transparent;
}

.btns-container
{
	width: 20%;
	float: left;
}

.update-container
{
	float: left;
	width: 100%;
}

.remove-container
{
	float: left;
	width: 100%;
}

.action-btns-container
{
	float: left;
	width: 100%;
	padding: 15px 0px;
	text-align: center;
}

.clear-btn-container
{
	float: left;
	width: 33.33333333%;
}

.order-btn-container
{
	float: left;
	width: 33.33333333%;
}

.add-usuals-btn-container
{
	float: left;
	width: 33.33333333%;
}

.action-btns-container input
{
	width: 90px;
}

.category-table,
.dept-table
{
	width: 100%;
	max-width: 280px;
}

.category-row.selected,
.dept-row.selected
{
	background: lightgreen;
}

.category-description,
.dept-description
{
	width: 90%;
}

.form .input-error
{
	border: red solid 2px;
}

.form .error-message
{
	color: red;
}

.list-items-container span.btn
{
	margin-left: 15px;
}

.form.order-container
{
	margin-bottom: 10px;
}

#current-order-actions-container>div
{
	margin-bottom: 5px;
}

.form#add-item>.row,
.form#edit-item>.row
{
	margin-bottom: 10px;
}

.form#add-item label,
.form#edit-item label
{
	float: left;
	width: calc(4 / 12 * 100%);
}

.form#add-item input:not([type='submit']),
.form#add-item select,
.form#edit-item input:not([type='submit']),
.form#edit-item select
{
	float: left;
	width: calc(8 / 12 * 100%);
}

.form#edit-list input,
.form#edit-department input
{
	float: left;
	width: calc(6 / 12 * 100%);
}

.form#edit-list label,
.form#edit-list button,
.form#edit-department label,
.form#edit-department button
{
	float: left;
	width: calc(3 / 12 * 100%);
}

#current-order-actions-container #add-list-to-current-order-container .select-container,
#current-order-actions-container #add-list-to-current-order-container .button-container
{
	float: left;
	width: 50%;
}

#current-order-actions-container #add-list-to-current-order-container .select-container
{
	padding-right: 15px;
}

#current-order-actions-container #add-list-to-current-order-container .button-container
{
	padding-left: 15px;
}

#current-order-actions-container #add-list-to-current-order-container .select-container select
{
	width: 100%;
}

.department-selection,
.list-selection,
.item-selection
{
	width: 100%;
}

ul.ui-autocomplete li.ui-state-focus
{
	font-weight: 400;
}

.recent-consumption-form .consumption-interval-container,
.recent-consumption-form .consumption-period-container,
.recent-consumption-form .submit-container
{
	margin-bottom: 5px;
}

.recent-consumption-form .consumption-interval-container label,
.recent-consumption-form .consumption-period-container label
{
	margin: 0px;
	line-height: 25px;
	width: 60px;
}

.recent-consumption-form .consumption-interval-container input,
.recent-consumption-form .consumption-period-container select
{
	height: 25px;
	width: calc(100% - 68px);
}

@media print, screen and (min-width: 576px)
{
	header .page-heading-container
	{
		width: calc(10 / 12 * 100%);
	}

	header .mobile-navigation-container,
	header .home-link-container
	{
		width: calc(1 / 12 * 100%);
	}

	#current-order-actions-container #confirm-current-order-container,
	#current-order-actions-container #clear-current-order-container
	{
		width: 25%;
	}

	#current-order-actions-container #add-list-to-current-order-container
	{
		width: 50%;
	}

	#current-order-actions-container #add-list-to-current-order-container .select-container,
	#current-order-actions-container #add-list-to-current-order-container .button-container
	{
		width: 50%;
	}

	.results-container.previous-order .order-item-details,
	.results-container.previous-order .order-item-buttons
	{
		width: calc(6 / 12 * 100%);
	}

	.results-container.current-order .description-container
	{
		width: calc(5 / 12 * 100%);
	}

	.results-container.current-order .quantity-container,
	.results-container.current-order .button-container
	{
		width: calc(2 / 12 * 100%);
		margin: 0px;
	}

	.results-container.current-order .packsize-container
	{
		width: calc(1 / 12 * 100%);
	}

	.results-container.view-previous-order .collection-container .collection-items-container .result-item .description-container,
	.results-container.view-previous-order .collection-container .collection-items-container .result-item .comments-container
	{
		width: calc(2 / 12 * 100%);
	}

	.results-container.view-previous-order .collection-container .collection-items-container .result-item .link-container
	{
		width: calc(6 / 12 * 100%);
	}

	.results-container.view-previous-order .collection-container .collection-items-container .result-item .quantity-container,
	.results-container.view-previous-order .collection-container .collection-items-container .result-item .packsize-container
	{
		width: calc(1 / 12 * 100%);
	}

	.results-container.print-previous-order
	{
		width: 50%;
		padding: 0px 15px;
	}

	.results-container.print-previous-order p
	{
		margin: 0px;
	}

	.results-container.print-previous-order .collection-container .collection-items-container .result-item
	{
		padding: 0px;
	}

	.results-container.print-previous-order .collection-container .collection-items-container .result-item:last-of-type
	{
		margin-bottom: 15px;
	}

	.results-container.print-previous-order .collection-container .collection-items-container .result-item .description-container
	{
		width: calc(9 / 12 * 100%);
	}

	.results-container.print-previous-order .collection-container .collection-items-container .result-item .quantity-container
	{
		width: calc(3 / 12 * 100%);
	}

	.results-container.suggestions .description-container
	{
		width: calc(3 / 12 * 100%);
	}

	.results-container.suggestions.muted .description-container
	{
		width: calc(5 / 12 * 100%);
	}

	.results-container.suggestions .stock-level-container
	{
		width: calc(1.5 / 12 * 100%);
	}

	.results-container.suggestions .button-container
	{
		width: calc(2 / 12 * 100%);
	}

	.results-container.suggestions .button-container.mute-button
	{
		width: calc(2 / 12 * 100%);
	}

	.results-container.suggestions.muted .button-container
	{
		width: calc(1 / 12 * 100%);
	}

	.results-container.suggestions.muted .button-container.mute-button
	{
		width: calc(3 / 12 * 100%);
	}

	.results-container.item-order-statistics .label-container,
	.results-container.item-order-statistics .statistic-container
	{
		width: calc(3 / 12 * 100%);
	}

	.department-items-container .row>div,
	.list-items-container .row>div
	{
		margin: 0px;
	}

	.department-items-container .row>.department-name-container,
	.list-items-container .row>.list-name-container
	{
		width: calc(6 / 12 * 100%);
	}

	.department-items-container .row>.button-container,
	.list-items-container .row>.button-container
	{
		width: calc(2 / 12 * 100%);
	}

	.form.order-container
	{
		width: calc(7 / 12 * 100%);
	}

	.form.add-item-to-previous-order-container
	{
		width: calc(5 / 12 * 100%);
	}

	.form#add-item label,
	.form#edit-item label,
	.move-items-to-list-container,
	.add-item-to-list-container,
	.add-item-to-department-container
	{
		width: calc(2 / 12 * 100%);
	}

	.form#add-item input:not([type='submit']),
	.form#add-item select,
	.form#edit-item input:not([type='submit']),
	.form#edit-item select,
	.list-selection-container,
	.item-selection-container
	{
		width: calc(4 / 12 * 100%);
	}

	.form#edit-list input,
	.form#edit-department input
	{
		width: calc(3 / 12 * 100%);
	}

	.form#edit-list label,
	.form#edit-list button,
	.form#edit-department label,
	.form#edit-department button
	{
		width: calc(2 / 12 * 100%);
	}

	.form#edit-list input,
	.form#edit-list label,
	.form#edit-list button,
	.form#edit-department input,
	.form#edit-department label,
	.form#edit-department button
	{
		margin: 0px 15px;
	}

	.form.department-list-item .department-name-container,
	.form.packsize-list-item .packsize-name-container
	{
		width: calc(6 / 12 * 100%);
	}

	.form.department-list-item .department-seq-container,
	.form.department-list-item .button-container,
	.form.packsize-list-item .packsize-shortname-container,
	.form.packsize-list-item .button-container
	{
		width: calc(2 / 12 * 100%);
		margin-left: 0px;
	}

	.form.department-list-item input,
	.form.packsize-list-item input
	{
		width: 100%;
	}

	#add-packsize .name-container,
	#add-packsize .shortname-container
	{
		width: 50%;
	}

	.recent-consumption-form .consumption-interval-container,
	.recent-consumption-form .consumption-period-container
	{
		width: calc(4 / 12 * 100%);
	}

	.recent-consumption-form .submit-container
	{
		width: calc(4 / 12 * 100%);
		margin-left: 0px;
	}

	.item-department-add-container,
	.item-department-remove-container
	{
		width: calc(6 / 12 * 100%);
	}
}

@media print, screen and (min-width: 750px)
{
	nav
	{
		right: calc(((100vw - 750px) / 2) - (750px * 0.75));
	}

	nav.nav-open
	{
		right: calc((100vw - 750px) / 2);
	}
}

@media print, screen and (min-width: 768px)
{
	input.item-description,
	input.item-comments,
	.update-container,
	.remove-container
	{
		width: calc(50% - 9px);
	}

	.qty-container>input
	{
		line-height: 15px;
	}

	.action-btns-container
	{
		width: 50%;
	}

	.results-container.suggestions.muted .description-container
	{
		width: calc(7 / 12 * 100%);
	}

	.results-container.suggestions.muted .button-container.mute-button
	{
		width: calc(2 / 12 * 100%);
	}
}
