.container
{
	max-width: 750px;
}

.selected
{
	background-color: #afa;
}

input
{
	max-width: 100%;
	background-color: transparent;
	padding: 1px 5px;
}

main
{
	padding-bottom: 20px;
}

.wrapper
{

}

.results-container
{
	float: left;
	width: 100%;
}

.results-container .result-item
{
	padding: 5px 4px;
}

.results-container.striped .result-item:nth-of-type(odd)
{
	background-color: #eee;
}

.results-container .result-item.primary-dept
{
	border: #337ab7 solid 2px;
	padding: 3px 2px;
}

.results-container .result-item.primary-dept button.js-set-primary-dept
{
	display: none;
}

.results-container .link-container
{
	word-break: break-all;
}

.department-items-container .row>div,
.list-items-container .row>div
{
	margin-bottom: 5px;
}

.item-container
{
	width: 100%;
	float: left;
	padding: 5px 0px;
}

.odd-row
{
	background: #ddd;
}

.text-blocks
{
	float: left;
	width: calc(65% - 15px);
	padding-right: 15px;
}

input.item-description,
input.item-comments,
input.update,
input.remove
{
	width: 100%;
	line-height: 15px;
	margin-bottom: 5px;
	background: transparent;
}

.qty-container
{
	float: left;
	width: calc(15% - 15px);
	padding-right: 15px;
}

.qty-container>input
{
	width: 100%;
	text-align: center;
	line-height: 40px;
	background: transparent;
}

.btns-container
{
	width: 20%;
	float: left;
}

.update-container
{
	float: left;
	width: 100%;
}

.remove-container
{
	float: left;
	width: 100%;
}

.action-btns-container
{
	float: left;
	width: 100%;
	padding: 15px 0px;
	text-align: center;
}

.clear-btn-container
{
	float: left;
	width: 33.33333333%;
}

.order-btn-container
{
	float: left;
	width: 33.33333333%;
}

.add-usuals-btn-container
{
	float: left;
	width: 33.33333333%;
}

.action-btns-container input
{
	width: 90px;
}

.category-table,
.dept-table
{
	width: 100%;
	max-width: 280px;
}

.category-row.selected,
.dept-row.selected
{
	background: lightgreen;
}

.category-description,
.dept-description
{
	width: 90%;
}

.form .input-error
{
	border: red solid 2px;
}

.form .error-message
{
	color: red;
}

.list-items-container span.btn
{
	margin-left: 15px;
}

.form.order-container
{
	margin-bottom: 10px;
}

#current-order-actions-container>div
{
	margin-bottom: 5px;
}

.form#add-item>.row,
.form#edit-item>.row
{
	margin-bottom: 10px;
}

.form#add-item label,
.form#edit-item label
{
	float: left;
	width: calc(4 / 12 * 100%);
}

.form#add-item input:not([type='submit']),
.form#add-item select,
.form#edit-item input:not([type='submit']),
.form#edit-item select
{
	float: left;
	width: calc(8 / 12 * 100%);
}

.form#edit-list input
{
	float: left;
	width: calc(6 / 12 * 100%);
}

.form#edit-list label,
.form#edit-list button
{
	float: left;
	width: calc(3 / 12 * 100%);
}

#current-order-actions-container #add-list-to-current-order-container .select-container,
#current-order-actions-container #add-list-to-current-order-container .button-container
{
	float: left;
	width: 50%;
}

#current-order-actions-container #add-list-to-current-order-container .select-container
{
	padding-right: 15px;
}

#current-order-actions-container #add-list-to-current-order-container .button-container
{
	padding-left: 15px;
}

#current-order-actions-container #add-list-to-current-order-container .select-container select
{
	width: 100%;
}

.department-selection,
.list-selection,
.item-selection
{
	width: 100%;
}

@media only screen and (min-width: 576px)
{
	#current-order-actions-container #confirm-current-order-container,
	#current-order-actions-container #clear-current-order-container
	{
		width: 25%;
	}

	#current-order-actions-container #add-list-to-current-order-container
	{
		width: 50%;
	}

	#current-order-actions-container #add-list-to-current-order-container .select-container,
	#current-order-actions-container #add-list-to-current-order-container .button-container
	{
		width: 50%;
	}

	.results-container.current-order .description-container,
	.results-container.previous-order .description-container
	{
		width: calc(6 / 12 * 100%);
	}

	.results-container.current-order .quantity-container,
	.results-container.current-order .button-container,
	.results-container.previous-order .quantity-container,
	.results-container.previous-order .button-container
	{
		width: calc(2 / 12 * 100%);
		margin: 0px;
	}

	.department-items-container .row>div,
	.list-items-container .row>div
	{
		margin: 0px;
	}

	.department-items-container .row>.department-name-container,
	.list-items-container .row>.list-name-container
	{
		width: calc(6 / 12 * 100%);
	}

	.department-items-container .row>.button-container,
	.list-items-container .row>.button-container
	{
		width: calc(2 / 12 * 100%);
	}

	.form.order-container
	{
		width: calc(7 / 12 * 100%);
	}

	.form.add-item-to-previous-order-container
	{
		width: calc(5 / 12 * 100%);
	}

	.form#add-item label,
	.form#edit-item label,
	.add-department-to-item-container,
	.move-items-to-list-container,
	.add-item-to-list-container
	{
		width: calc(2 / 12 * 100%);
	}

	.form#add-item input:not([type='submit']),
	.form#add-item select,
	.form#edit-item input:not([type='submit']),
	.form#edit-item select,
	.department-selection-container,
	.list-selection-container,
	.item-selection-container
	{
		width: calc(4 / 12 * 100%);
	}

	.form#edit-list input
	{
		width: calc(3 / 12 * 100%);
	}

	.form#edit-list label,
	.form#edit-list button
	{
		width: calc(2 / 12 * 100%);
	}

	.form#edit-list input,
	.form#edit-list label,
	.form#edit-list button
	{
		margin: 0px 15px;
	}
}

@media only screen and (min-width: 768px)
{
	input.item-description,
	input.item-comments,
	.update-container,
	.remove-container
	{
		width: calc(50% - 9px);
	}

	.qty-container>input
	{
		line-height: 15px;
	}

	.action-btns-container
	{
		width: 50%;
	}
}
